@model SMS_DAL.ViewModel.FileModel

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title sc_panel_header">
                <label class="nav navbar-left control-label sc_panel_label" align="left">Upload Exam Paper</label>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
                    </li>
                    <li>
                        @*<a class="close-link"><i class="fa fa-close"></i></a>*@
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                @using (Html.BeginForm("UploadPaper", "ExamPaper", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary(true)*@
                    @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">*@
                    <fieldset>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Year <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.YearId, new { @class = "form-control input-sm", @onchange = "GetTermByYear(1)", id = "yearId" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Term <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <select class="form-control input-sm" name="TermId" onchange="GetExamByTerm(1)" id="termId"></select>
                                    <input type="hidden" id="branchId" value="@ViewData["branchId"]" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Exams <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <select class="form-control input-sm" name="ExamTypeId" id="examId"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Class
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    @Html.DropDownList("ClassId", (IEnumerable<SelectListItem>)ViewBag.ClassId, new { @class = "form-control input-sm", onchange = "getChangeSectionList()", id = "classId" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Section
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <select class="form-control input-sm" name="SectionId" id="sectionId"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Subject
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <select class="form-control input-sm" name="SubjectId" id="subjectId"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Select File
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    @Html.TextBoxFor(model => model.File, "", new { @type = "file", @multiple = "multiple" })
                                </div>
                            </div>
                        </div>


            <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="nav navbar-right">
                                    <input type="submit" value="Upload Paper" name="Create" class="btn btn-squar" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                        @*</form>*@
                }
            </div>
        </div>
    </div>
</div>

<script>

    function populateErrors()
    {
        @if(ViewData["Error"] != null)
       {
           if ((int)@ViewData["Error"] == 2)
           {
               <text> showNotification('Exam paper is uploaded succesfully.', 'Success', 'Success') </text>
           }
           else if ((int)@ViewData["Error"] == 200)
           {
               <text> showNotification('Unsuppoted file extension is selected.', 'Error', 'Error') </text>
           }
           else if ((int)@ViewData["Error"] == 201)
           {
               <text> showNotification('No file is selected, please select the file.', 'Error', 'Error') </text>
           }
           else if ((int)@ViewData["Error"] == 420)
           {
               <text> showNotification('Unable to upload exam paper, please try again later.', 'Error', 'Error') </text>
           }
       }
    }



    window.onload = function (e) {
        ShowSearchPanel(@((ViewData["examSheet"] == null) ? 0 : 1));

        $('#classTable').DataTable( {
            paging: false, searching : false
        } );

        populateErrors();
        var d = new Date();
        var month = d.getMonth();
        var year = d.getFullYear();

        var classId = '@(ViewData["GlobalClassId"] == null ? 0 : (int)ViewData["GlobalClassId"])';
        var yearId = '@(ViewData["GlobalYearId"] == null ? 0 : (int)ViewData["GlobalYearId"])';
        if(classId != 0)
        {
            $("#classId").val(classId);
        }
        if(yearId != 0)
        {
            $("#yearId").val(yearId);
        }
        getSectionList();
        GetTermByYear(1);

        $('#issuedDate').val('@DateTime.Now.ToString("yyyy-MM-dd")');
    }

    function getSectionList() {
        var classId = $("#classId").val();
        if(classId.length == 0)
        {
            classId = 0;
        }
        GetClassSection(classId, 0, 'sectionId', 3, 0);
        //first : classId, seccond : load all option or not, third : section dd html id
        //fourth : any call function to call, fifth : sectionId to set in DD
    }

    function getChangeSectionList() {
        var classId = $("#classId").val();
        if (classId.length == 0) {
            classId = 0;
        }
        GetClassSection(classId, 0, 'sectionId', 3, 0);
        //first : classId, seccond : load all option or not, third : section dd html id
        //fourth : any call function to call, fifth : sectionId to set in DD
    }

    function setPrevSearchVals()
    {
        var sectionId = '@(ViewData["GlobalSectionId"] == null ? 0 : (int)ViewData["GlobalSectionId"])';
        var classId = '@(ViewData["GlobalClassId"] == null ? 0 : (int)ViewData["GlobalClassId"])';
        var tempClass = $("#classId").val();
        if(classId == tempClass)
        {
            if(sectionId != 0)
            {
                $("#sectionId").val(sectionId);
            }
        }
    }

    function GetTermByYear(payload) {
        var yearId = $('#yearId').val();
        var branchId = $('#branchId').val();
        var termId = '@(ViewData["GlobalTermId"] == null ? 0 : (int)ViewData["GlobalTermId"])';
        var tempYearId = '@(ViewData["GlobalYearId"] == null ? 0 : (int)ViewData["GlobalYearId"])';
        if(yearId == tempYearId)
        {
            if(termId != 0)
            {
                $("#termId").val(termId);
            }
        }
        else
        {
            termId = 0;
        }

        GetTermsByYear(yearId, 0, 'termId', branchId, payload, termId);
    }


    function getSubjectList()
    {
        var classId = $("#classId").val();
        var sectionId = $("#sectionId").val();
        var tempSection = '@(ViewData["GlobalSectionId"] == null ? 0 : (int)ViewData["GlobalSectionId"])';
        var subjectId = '@(ViewData["GlobalSujectId"] == null ? 0 : (int)ViewData["GlobalSujectId"])';

        $.ajax({
            type: "GET",
            url: AppDetail() + '/api/Common/getClassSubject?classId=' + classId + '&&sectionId=' + sectionId + '&&isLoadAll=0',
            contentType: 'application/json',
            success: function (result) {
                $("#subjectId").html(result);
                if(sectionId == tempSection){
                    $("#subjectId").val(subjectId);
                }
            },
            error: function (res) {
                showNotification('Unable to load subjects', 'Error', 'Error')
            }
        });
    }


    function GetExamByTerm(payload) {
        var termId = $('#termId').val();
        var branchId = $('#branchId').val();
        var examTypeId = '@(ViewData["GLobalExamId"] == null ? 0 : (int)ViewData["GLobalExamId"])';
        var tempTermId = '@(ViewData["GlobalTermId"] == null ? 0 : (int)ViewData["GlobalTermId"])';
        if(termId == tempTermId)
        {
            if(examTypeId != 0)
            {
                $("#examId").val(examTypeId);
            }
        }
        else
        {
            examTypeId = 0;
        }

        GetExamsByTerm(termId, 0, 'examId', branchId, payload, examTypeId);
    }

</script>

