@model SMS_DAL.StaffAttandancePolicy

@{
    ViewBag.Title = "Index";
    //Layout = "Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title sc_panel_header">
                <label class="nav navbar-left control-label sc_panel_label">Attendance Policy @((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "Edit" : "Create")</label>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
                    </li>
                    <li>
                        @*<a class="close-link"><i class="fa fa-close"></i></a>*@
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary(true)*@
                    @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">*@
                    <fieldset>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                                Catagory
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div>
                                    @Html.DropDownList("Designation.CatagoryId", (IEnumerable<SelectListItem>)ViewBag.Catagories, new { @class = "form-control", onchange = "getDesignationList()", id = "catagoryId" })
                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                                Designation
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div>
                                    <select class="form-control input-sm" name="Designation.Id" id="designationId"></select>
                                </div>
                            </div>

                        </div>
                        
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                                Leaves Allow Per Month
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div>
                                    @Html.TextBoxFor(model => model.LeaveInMonth, new { @class = "form-control input-sm" })
                                </div>
                            </div>

                            <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Half Day Time <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    <input type="time" name="HalfDayTime" class="form-control" value="@((@Model == null || @Model.HalfDayTime == null || @Model.LateInTime.Length == 0) ? "09:00" : @Model.HalfDayTime)" id="halfDayTime">
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                                Late Ins / Early Outs Per Leave
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div>
                                    @Html.TextBoxFor(model => model.LateInCount, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.LateInCount, "", new { @class = "annotation" })
                                </div>
                            </div>
                             
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Late In Time <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    <input type="time" name="LateInTime" class="form-control" value="@((@Model == null || @Model.LateInTime == null || @Model.LateInTime.Length == 0) ? "09:00" : @Model.LateInTime)" id="lateInTime">
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                                Leaves Allow Per Year
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div>
                                    @Html.TextBoxFor(model => model.LeaveInYear, new { @class = "form-control input-sm" })
                                </div>
                            </div>


                            

                            <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Early Out Time <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    <input type="time" name="EarlyOutTime" class="form-control" value="@((@Model == null || @Model.EarlyOutTime == null || @Model.EarlyOutTime.Length == 0) ? "12:00" : @Model.EarlyOutTime)" id="earlyOutTime">
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 col-sm-3 col-xs-12" align="right">
                                @Html.CheckBoxFor(model => model.IsSundayClubed, new { @class = "form-control input-sm", @style = "width:15px;height:15px;" })
                            </div>
                           
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="control-label" align="left" for="last-name" style="font-size: 11px;">
                                    Sunday Cubbed Leave Salary Deducted?
                                </label>
                            </div>

                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="nav navbar-right">
                                    <input type="submit" value="Save" name="Create" class="btn btn-squar"
                                           style=@((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "display:none" : "display:block") />
                                    <input type="submit" value="Save" name="Update" class="btn btn-squar"
                                           style=@((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "display:block" : "display:none") />
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
</div>



<div class="x_panel">
    <div class="x_title sc_panel_header">
        <label class="nav navbar-left control-label sc_panel_label">Attendance Policy List </label>
        <ul class="nav navbar-right panel_toolbox sc_panel_label">
            <li>
                @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
            </li>

            <li>
                @*<a class="close-link"><i class="fa fa-close"></i></a>*@
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">

        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="classTable">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">
                                Designation
                            </th>
                            <th class="column-title">
                                Late In Time
                            </th>
                            <th class="column-title">
                                Half Day Time
                            </th>
                            <th class="column-title">
                                Early Out Time
                            </th>
                            <th class="column-title">
                                Leaves in Year
                            </th>
                            <th class="column-title">
                                Leaves in Month
                            </th>
                            <th class="column-title">
                                Late Ins / Early Outs
                            </th>
                            <th class="column-title">
                                Clubbed Sunday Salay Deduction
                            </th>
                            <th>
                                Actions
                            </th>

                        </tr>

                    </thead>
                    <tbody style="background-color:white;color:#2A3F54" id="classBody">
                        @if(ViewData["policies"] != null)
                        {
                            foreach (var item in (IEnumerable<SMS_DAL.ViewModel.StaffAttandancePolicyModel>)ViewData["policies"])
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LateInTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HalfDayTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EarlyOutTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveInYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveInMonth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LateInCount)
                                    </td>

                                    <td>
                                        @if (item.IsSalaryClubbed)
                                        {
                                            <p style="color:green"> Yes </p>
                                        }
                                        else
                                        {
                                            <p style="color:red"> No </p>
                                        }
                                    </td>
                                
                                    <td>
                                        @Html.ActionLink(" ", "Index", new { id = item.Id }, new { style = "color: green;font-size: 15px;", title = "Edit", @class = "glyphicon glyphicon-edit" }) 
                                        @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { onclick = "return ConfirmDelete('Are you sure you wish to delete this Staff Attendance Policy?', " + item.Id + ", 'AtteandancePolicy');", style = "color: darkred;font-size: 15px;", title = "Delete", @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    function populateErrors()
    {
        @if(ViewData["Error"] != null)
        {
            if ((int)@ViewData["Error"] == 1)
            {
                <text> showNotification('The Name Field is Required.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 11)
            {
                <text> showNotification('Staff Attendance Poilcy is already added for this designation.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 2)
            {
                <text> showNotification('Staff Attendance Poilcy is saved succesfully.', 'Success', 'Success') </text>
            }
            else if ((int)@ViewData["Error"] == 3)
            {
                <text> showNotification('Unable to delete Staff Attendance Poilcy.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 420)
            {
                <text> showNotification('Unable to Save Staff Attendance Poilcy.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 4)
            {
                <text> showNotification('Staff Attendance Poilcy is deleted succesfully.', 'Success', 'Success') </text>
            }
        }
    }

    window.onload = function (e) {
        
        getDesignationList();
            
        populateErrors();
        $('#classTable').DataTable({ paging : false, searching : false});
    }

     function getDesignationList() {
         var catagoryId = $("#catagoryId").val();
        if(catagoryId.length == 0)
        {
            catagoryId = 0;
        }
        GetDesignation(catagoryId, 0, 'designationId');
    }
</script>
