@model List<SMS_DAL.ViewModel.IssuedChallanViewModel>

@{
    ViewBag.Title = "Create";
}

<script>

    function getSectionList() {
        var classId = $("#classId").val();
        //alert(classId);
        $("#sectionId").html("");
        //$("#sectionId").append('<option value='+0+'>All</option>');
        @foreach (var item in (IEnumerable<SMS_DAL.ViewModel.ClassSectionModel>)ViewData["classSection"])
        {

            <text>
        if(classId == '')
        {
            var id = @(item.SectionId);
            var name = '@(item.SectionName)';
            $("#sectionId").append('<option value='+id+'>'+name+'</option>');
        }
        else if(classId == @(item.ClassId))
            {
            var id = @(item.SectionId);
            var name = '@(item.SectionName)';
        $("#sectionId").append('<option value='+id+'>'+name+'</option>');
    }
    </text>
         }

    }

</script>
<head>
    @*<link rel="stylesheet" href="../../css/print.css">*@
    </head>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title sc_panel_header">
                <label class="nav navbar-left control-label sc_panel_label"  align="left">Paid Chalan Search</label>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <div>
                        @Html.ValidationSummary()
                    </div>
                </div>
                <div class="nav navbar-right">
                    <input type="button" value="Help" name="Help" onclick="@("window.location.href='" + @Url.Action("Index", "Video", new { id = 19}) + "'");"
                           class="btn sc_help_btn btn-xs" />
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">


                @using (Html.BeginForm(Html.BeginForm("SearchPaidChalan", "SmsSendGeneral", FormMethod.Post, new { enctype = "multipart/form-data" })))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <div class="form-group row">

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Year
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @Html.DropDownList("YearId", (IEnumerable<SelectListItem>)ViewBag.YearId, new { @class = "form-control input-sm input-sm", id = "yearIdSearch" })

                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Month
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @Html.DropDownList("MonthId", (IEnumerable<SelectListItem>)ViewBag.MonthId, new { @class = "form-control input-sm", id = "monthIdSearch" })

                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Class
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @Html.DropDownList("ClassId", (IEnumerable<SelectListItem>)ViewBag.ClassId, new { @class = "form-control input-sm", onchange = "getSearchSectionList()", id = "classIdSearch" })
                                    @*@Html.ValidationMessageFor(model => model.ClassId)*@

                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Section
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @Html.DropDownList("SectionId", (IEnumerable<SelectListItem>)ViewBag.SectionId, new { @class = "form-control input-sm", id = "sectionIdSearch" })
                                    @*@Html.ValidationMessageFor(model => model.SectionId)*@

                                </div>
                            </div>


                        </div>
                        <div class="form-group row">

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Chalan No
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @*@Html.TextBoxFor(model => model.RollNumber, new { @class = "form-control input-sm", id = "rollNoSearch" })
                                        @Html.ValidationMessageFor(model => model.RollNumber)*@
                                    <input type="number" name="ChalanNo" class="form-control input-sm" />
                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Roll No
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    <input type="text" name="RollNo" class="form-control input-sm" />
                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Name
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", id = "nameSearch" })*@
                                    <input type="text" name="Name" class="form-control input-sm" />
                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Father Name
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @*@Html.TextBoxFor(model => model.FatherName, new { @class = "form-control input-sm", id = "fatherNameSearch" })*@
                                    <input type="text" name="FatherName" class="form-control input-sm" />
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px;">
                                Father Cnic
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    @*@Html.TextBoxFor(model => model.FatherName, new { @class = "form-control input-sm", id = "fatherNameSearch" })*@
                                    <input type="text" name="FatherCnic" class="form-control input-sm" />
                                </div>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                Admission No
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div>
                                    <input type="text" name="AdmissionNo" class="form-control input-sm" />
                                    @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", id = "nameSearch" })*@
                                </div>
                            </div>


                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="nav navbar-right">
                                <input type="submit" value="Find" name="Search" class="btn btn-squar" />

                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>



<div class="row" id="searchPanelData" style="display:none;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm("SendMsgToUnpaid", "SmsSendGeneral", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="x_panel">
                    <div class="x_title sc_panel_header">
                        <h2>@*Paid Chalan Detail*@</h2>
                        <ul class="nav navbar-right panel_toolbox">

                            <li>
                                @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
                            </li>
                            <li>
                                @*<a class="close-link"><i class="fa fa-close"></i></a>*@
                            </li>

                        </ul>

                        <label class="nav navbar-right control-label col-md-4 col-sm-4 col-xs-12" style="font-size: 11px;" align="right" for="last-name">
                        </label>

                        <label class="control-label col-md-1 col-sm-1 col-xs-12 sc_panel_label" align="left" for="first-name" style="font-size: 11px;">
                            Send SMS
                        </label>

                    </div>

                    <div class="x_content">

                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                            <div class="form-group">
                                <div class="table-responsive">
                                    <table  class="table table-striped table-bordered" id="classTable" name="model">
                                        <thead>
                                            <tr class="headings">
                                                @*<th>
                                    </th>*@
                                                <th>
                                                    <input type="checkbox" id="cbSelectAll" style="width:20px;height:20px;" onclick="CheckAllCheckBoxes();" />
                                                    @if (Model != null && Model.Count > 0)
                                                    {
                                                        <input type="text" value="@Model.Count" id="statusIdAll" style="display: none;" />
                                                    }
                                                    else
                                                    {
                                                        <input type="text" value="0" id="statusIdAll" style="display: none;" />
                                                    }
                                                </th>
                                                <th style="max-width:100px;">
                                                    <label>Paid</label>
                                                </th>
                                                <th style="max-width:100px;">
                                                    <label>Roll No.</label>
                                                </th>
                                                <th style="max-width:200px;">
                                                    <label>Name</label>
                                                </th>
                                                <th style="max-width:200px;">
                                                    <label>Father Name</label>
                                                </th>
                                                <th style="max-width:100px;">
                                                    <label>Class</label>
                                                </th>
                                                <th style="max-width:100px;">
                                                    <label>Section</label>
                                                </th>
                                                <th style="max-width:100px;">
                                                    <label>Contact</label>
                                                </th>
                                                <th style="max-width:200px;">
                                                    <label>Remaining Balance</label>
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody style="background-color:white;color:#2A3F54" id="classBody">
                                            @if (Model != null)
                                            {
                                                for (int i = 0; i < Model.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" onchange="ChangeCheckCkount(@i)" id="@("checkbox" + i)" name="ChalanIds" value="@Model[i].Id" style="width:20px;height:20px;">
                                                            <input type="checkbox" name="Indexes" value="@i" id="@("cbSelect" + i)" style="width:20px;height:20px;" hidden="hidden">
                                                        </td>
                                                        <td>
                                                            @Model[i].IsPaid
                                                        </td>
                                                        <td>
                                                            @Model[i].RollNumber
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Name
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Fathername
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Class
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Section
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Contact_1
                                                        </td>
                                                        <td style="max-width:200px;">
                                                            @Model[i].Balance
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group row">
                                    <div class="nav navbar-right">
                                        <input type="submit" value="Send" onclick="return CheckCountValue();" id="sendUnpaidSms" class="btn btn-squar" />
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>


<div class="modal fade bs-example-modal-sm btn-squar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm btn-squar" style="width:600px;">
        <div class="modal-content btn-squar">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Fee Challan Detail</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="allownceTable" name="model">
                        <thead>
                            <tr class="headings">
                                <th>
                                </th>
                                <th hidden="hidden">
                                </th>
                                <th hidden="hidden">
                                </th>
                                <th style="min-width:80px;">
                                    <label>Fee Head</label>
                                </th>
                                <th style="min-width:100px;">
                                    <label>Total Amount</label>
                                </th>

                                <th style="min-width:100px;">
                                    <label>Paid Amount</label>
                                </th>
                                <th>
                                </th>
                            </tr>

                        </thead>
                        <tbody style="background-color:white;color:#2A3F54" id="classBody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-squar" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<script>

    function populateErrors()
    {
       @if(ViewData["Error"] != null)
       {
           if ((int)@ViewData["Error"] == 4)
           { 
               <text> showNotification('SMS has been sent succesfully.', 'Success', 'Success') </text>
           }
       else if ((int)@ViewData["Error"] == 41)
           { 
               <text> showNotification('SMS has been sent succesfully.', 'Success', 'Success') </text>
           }
       else if ((int)@ViewData["Error"] == 20)
           { 
               <text> showNotification('Annual Charges of selected student(s) is reset successfully.', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 420)
           { 
               <text> showNotification('Unable to Send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 5)
           { 
               <text> showNotification('Issue Chalan for all selected student(s) to Create Pdf.', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 6)
           { 
               <text> showNotification('Select Student(s) to send SMS.', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 61)
           { 
               <text> showNotification('Select Student(s) to send SMS.', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 81)
           { 
               <text> showNotification('Pleas eneter Paid Amount for all the selected student(s).', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 7)
           { 
               <text> showNotification('Search Student(s) to send SMS.', 'Info', 'Info') </text>
           }
       else if ((int)@ViewData["Error"] == 71)
           { 
               <text> showNotification('Search Student(s) to send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 72)
           { 
               <text> showNotification('Please Student(s) to send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 8)
           { 
               <text> showNotification('Unable to Send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 109)
           { 
               <text> showNotification('Unable to Send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 421)
           { 
               <text> showNotification('Search Student(s) to Send SMS.', 'Error', 'Error') </text>
           }
       else if ((int)@ViewData["Error"] == 11)
           { 
               <text> showNotification('Unable to Send SMS.', 'Error', 'Error') </text>
           }
       }
    }

    var checkCount = 0;
    window.onload = function (e) {
        ShowSearchPanel(@((Model == null || Model.Count == 0) ? 0 : Model.Count));
        getSectionList();
        resetSearch();
        populateErrors();
        checkCount = 0;
        //ChangeAccountType();
        //getFine();
        //ChangeDuesStatus();

        //$("#yearIdSearch").val("2017");
        //$("#monthIdSearch").val("November");

        //$('#paidDate').val('@(DateTime.Now.ToString("yyyy-MM-dd"))');

        var d = new Date();
        var month = d.getMonth();
        var year = d.getFullYear();


        //$("#yearIdSearch").get(0).selectedIndex = year - 2016;
        $("#monthIdSearch").get(0).selectedIndex = month;
        $('#classTable').DataTable( {
            paging: false
        } );
    }

    function EnableAmountTextBox(index)
    {
        var tableBody = document.getElementById("classBody");
        var rows = tableBody.getElementsByTagName("tr");
        var tdObj = rows[index].getElementsByTagName("td")[0];
        if(document.getElementById("checkbox" + index).checked)
        {
            document.getElementById("cbSelect" + index).checked = true;
            //document.getElementById("textbox" + index).readOnly = false;
            document.getElementById("feebox" + index).readOnly = false;
            $('#textbox'+ index).val($('#textboxPaid' + + index).val());
        }
        else
        {
            document.getElementById("cbSelect" + index).checked = false;
            //document.getElementById("textbox" + index).readOnly = true;
            document.getElementById("feebox" + index).readOnly = true;
            $('#textbox' + index).val('');
        }
        //alert(document.getElementById("checkbox" + index).checked);

    }

    function CheckAllCheckBoxes()
    {
        var rowCount = $('#statusIdAll').val();
        if($("#cbSelectAll").is(':checked') == true)
        {
            checkCount = rowCount;
            for( var i = 0 ; i < rowCount; i++)
            {
                SelectElement("checkbox"+i, true);
                SelectElement("cbSelect"+i, true);
                document.getElementById("textbox" + i).readOnly = false;
                document.getElementById("feebox" + i).readOnly = false;
                EnableAmountTextBox(i);
            }
        }
        else
        {
            checkCount = 0;
            for( var i = 0 ; i < rowCount; i++)
            {
                SelectElement("checkbox"+i, false);
                SelectElement("cbSelect"+i, false);
                document.getElementById("textbox" + i).readOnly = true;
                document.getElementById("feebox" + i).readOnly = true;
                EnableAmountTextBox(i);
            }
        }
    }

    function SelectElement(id, valueToSelect)
    {    
        var element = document.getElementById(id);
        element.checked  = valueToSelect;
    }

    function EnableCampus() {
        var admType = $("#admType").val();
        if (admType == '3')
            document.getElementById("campus").readOnly = false;
        else
            document.getElementById("campus").readOnly = true;
    }

    function ChangeLeavingDate()
    {
        document.getElementById("leavingDate").value = "";
    }
    function ChangeDuesStatus() {
        if(document.getElementById("dues").value == true)
            document.getElementById("dues").value = false;
        else
            document.getElementById("dues").value = true;
    }

    function SaveChallanDetail()
    {
        debugger;
        var detailList = [];
        var rowCount = document.getElementById("allownceTable").rows.length;
        var txtList = document.getElementsByClassName("txt-squar");
        var objCount = 0;
        var i = 0;
        for (i = 1; i < rowCount - 1; i++){
            var rowData = document.getElementById("allownceTable").rows[i].cells;
           
            var headId = rowData[2].innerHTML;
            var type = rowData[1].innerHTML;
            var totalAmount = rowData[4].innerHTML;
            if(totalAmount.length > 0)
            {
                //alert(campusName)
                var detail = {
                    FeeHeadId: headId,
                    TotalAmount : totalAmount,
                    PayAmount: txtList[objCount].value,
                    Type: type
                };
                detailList[objCount] = detail;
                objCount++;
            }
        }
        $.ajax({
            url: AppDetail() + '/SmsSendGeneral/SaveIssueChallanDetail',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(detailList),// JSON.stringify(tagsList) },//JSON.stringify({ 'tagsList': tagsList }),
            statusCode: {
                200: function () {
                },
                500: function () {
                }
            },
            jsonp: 'jsonp'
        });


    }

    function ChangeCheckCkount(index)
    {
        if($("#checkbox"+index).is(':checked') == true)
        {
            checkCount++;
        }
        else
        {
            checkCount--;
        }
    }

    function CheckCountValue()
    {
        if(checkCount == 0)
        {
            showNotification('Can\t proceed, No student is loaded or selected.', 'Error', 'Error')
            return false;       
        }

        ConfirmAction('Are you sure, you want to send unpaid message to the student(s)?', 'sendUnpaidSms');
        return false;
    }


    @*function ChangeAccountType()
    {
        var accountTypeId = $("#accountTypeId").val();
        if(accountTypeId == 1)
        {
            accountTypeId = 13;
        }
        else
        {
            accountTypeId = 14;
        }

        $("#financeAccountId").html("");
        //$("#financeAccountId").append('<option value='+0+'>All</option>');
        @foreach (var item in (IEnumerable<SMS_DAL.ViewModel.FinanceFifthLvlAccountModel>)ViewData["financeAccounts"])
        {

                <text>
                if(accountTypeId == @(item.ThirdLvlAccountId))
        {
            var id = @(item.Id);
            var name = '@(item.AccountName)';
            $("#financeAccountId").append('<option value='+id+'>'+name+'</option>');
        }
    
        </text>
    }
    }*@


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#stdImage')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    function UploadImage() {
        debugger;
        var data = new FormData();
        var files = $("#imgInp").get(0).files;
        if (files.length > 0) {
            data.append("UploadedImage", files[0]);


            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: AppDetail() + "/Student/UploadImage",
                contentType: false,
                processData: false,
                data: data
            });
            ajaxRequest.done(function (xhr, textStatus) {
                //alert('Image Uploaded successfully')
            });
        }
    }

    function gotoSearch() {
        $('#clickUp').click();

    }

    function resetSearch() {

        $('#fatherNameSearch').val("");
        $('#nameSearch').val("");
        $('#rollNoSearch').val("");

    }

    function getSearchSectionList() {
        var classId = $("#classIdSearch").val();
        //alert(classId);
        $("#sectionIdSearch").html("");
        //$("#sectionIdSearch").append('<option value='+0+'>All</option>');
        @foreach (var item in (IEnumerable<SMS_DAL.ViewModel.ClassSectionModel>)ViewData["classSection"])
        {

            <text>
        if(classId == '')
        {
            var id = @(item.SectionId);
            var name = '@(item.SectionName)';
            $("#sectionIdSearch").append('<option value='+id+'>'+name+'</option>');
        }
        else if(classId == @(item.ClassId))
            {
                var id = @(item.SectionId);
                var name = '@(item.SectionName)';
        $("#sectionIdSearch").append('<option value='+id+'>'+name+'</option>');
    }
    </text>
    }
    
    }
</script>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@*@section Scripts {
        @Scripts.Render("bundles/jqueryval")
    }*@
