@model SMS_DAL.StudentInquiry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StudentInquiry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InquiryNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InquiryNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FatherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FatherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdmissionDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdmissionDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Relegion.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relegion.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender.Gender1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender.Gender1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FatherOccupation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FatherOccupation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nationality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nationality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cast)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cast)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FatherCNIC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FatherCNIC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PermanentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PermanentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Session.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Session.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MotherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MotherContact1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotherContact1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MotherContact2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotherContact2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BFormNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BFormNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MotherCnic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotherCnic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegisterationFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegisterationFee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProspectusFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProspectusFee)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
