@model List<SMS_DAL.ViewModel.SmsModel>

@{
    ViewBag.Title = "Index";
    //Layout = "Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title sc_panel_header">
                <label class="nav navbar-left control-label sc_panel_label" align="left">SMS Events</label>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
                    </li>
                    <li>
                        @*<a class="close-link"><i class="fa fa-close"></i></a>*@
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                @using (Html.BeginForm("SaveSmsEvents", "SmsMessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">*@
                    <fieldset>
                       
                        <div class="form-group">
                            <div class="table-responsive">
                                <input type="hidden" class="custom-control-input" name="IsDontSend" value="0" style="width:20px;height:20px;" id="isDontSend">
                                <table class="table table-striped table-bordered" id="classTable">
                                    <thead>
                                        <tr class="headings">
                                            <th>
                                                <input type="checkbox" id="cbSelectAll" style="width:20px;height:20px;" onclick="CheckAllCheckBoxes();" />
                                                <input type="text" value="@Model.Count" id="statusIdAll" style="display: none;" />
                                            </th>
                                            <th>
                                                Send Message
                                            </th>
                                            <th>
                                                Event Name
                                            </th>
                                            <th>
                                                Event Detail
                                            </th>
                                            <th>
                                                Message
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody style="background-color:white;color:#2A3F54" id="classBody">
                                        @if (Model != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="eventIds" value="@Model[i].EventId" style="width:20px;height:20px;" onclick="ChangeCheckCkount(@i);" id="@("tableId"+i)">
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SmsFlagDescription)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EventName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EventDetail)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TemplateName)
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                            <div class="nav navbar-right">
                                <input type="submit" value="Disable SMS Event" onclick="return CheckCountValue(1)" id="notSendSMSEvent" name="SubmitLeaving" class="btn btn-squar"  />
                                <input type="submit" value="Enable SMS Event" name="SubmitLeaving" onclick="return CheckCountValue(0)" id="SendSMSEvent" class="btn btn-squar" />
                        </div>
                    </fieldset>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
</div>

<script>

    function populateErrors()
    {
        @if(ViewData["Error"] != null)
        {
            if ((int)@ViewData["Error"] == 1)
            {
                <text> showNotification(' The Name Field is Required.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 1)
            {
                <text> showNotification('The Name Field is Required.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 421)
            {
                <text> showNotification('Please select sms event(s) to save the detial.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 422)
            {
                <text> showNotification('SMS Message Code is already Exist.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 11)
            {
                <text> showNotification(' SMS Message Login Id is already Exist.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 1421)
            {
                <text> showNotification('SMS Message Name is already Exist.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 1422)
            {
                <text> showNotification('SMS Message Code is already Exist.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 111)
            {
                <text> showNotification('SMS Message Login Id is already Exist.', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 3)
            {
                <text> showNotification('SMS Message to delete SMS Message.', 'Error', 'Error') </text>
            }
             else if ((int)@ViewData["Error"] == 420)
            {
                <text> showNotification('Unable to save sms event detail.', 'Error', 'Error') </text>
            }
             else if ((int)@ViewData["Error"] == 20)
            {
                <text> showNotification('Sms template is not defined for some event(s), please assign message templete first to enable message for the event(s).', 'Error', 'Error') </text>
            }
            else if ((int)@ViewData["Error"] == 2)
            {
                <text> showNotification('SMS Event detail is saved succesfully.', 'Success', 'Success') </text>
            }
            else if ((int)@ViewData["Error"] == 4)
            {
                <text> showNotification('SMS Message is deleted succesfully.', 'Success', 'Success') </text>
            }
        }
    }

    var checkCount = 0;
    window.onload = function (e) {
        populateErrors();
        checkCount = 0;
        $('#classTable').DataTable( {
            paging: false
        } );
    }

    function ChangeCheckCkount(index)
    {
        if($("#tableId"+index).is(':checked') == true)
        {
            checkCount++;
        }
        else
        {
            checkCount--;
        }
    }

    function CheckCountValue(Value)
    {
        $("#isDontSend").val(Value);
        if(checkCount == 0)
        {
            showNotification('Can\t proceed, No event is loaded or selected.', 'Error', 'Error')
            return false;
        }

        if(Value == 1)
        {
            ConfirmAction('Are you sure, you want to disable message for the selected event(s)?', 'notSendSMSEvent');
        }
        else
        {
            ConfirmAction('Are you sure, you want to enable message for the selected event(s)?', 'SendSMSEvent');
        }
        return false;
    }


    function VerifyPassword() {
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (password == '' && confirmPassword == '') {
            showNotification('Please enter password.', 'Error', 'Error')
            //document.getElementById('lblError').innerHTML = 'Please enter password';
            return false;
        }

        if (password == confirmPassword) {
            document.getElementById('lblError').innerHTML = '';
            return true;
        }
        else {
            showNotification('Password is not matched.', 'Error', 'Error')
            //document.getElementById('lblError').innerHTML = 'Password is not matched';
            return false;
        }
    }

    function getUsersByGroup() {
        var rows = $('table > tbody tr');
        var groupId = $("#cbGroupId").val();
        if (groupId == null || groupId == '') {
            rows.show();
        }
        else {
            var showRows = rows.filter('.' + groupId).show();
            rows.not(showRows).hide();
        }
    }

    function CheckAllCheckBoxes()
    {
        var rowCount = $('#statusIdAll').val();
        if($("#cbSelectAll").is(':checked') == true)
        {
            checkCount = rowCount;
            for( var i = 0 ; i < rowCount; i++)
            {
                SelectElement("tableId"+i, true);
                //$("#tableId"+i).attr('checked', true);
            }
        }
        else
        {
            checkCount = 0;
            for( var i = 0 ; i < rowCount; i++)
            {
                SelectElement("tableId"+i, false);

                //$("#tableId"+i).attr('checked', false);
            }
        }
    }

    function SelectElement(id, valueToSelect)
    {
        var element = document.getElementById(id);
        element.checked  = valueToSelect;
    }
</script>