@model SMS_DAL.ViewModel.StudentBehaviourViewModel
@{
    ViewBag.Title = "Student Behaviour";
    int collapseButtonsId = 0;
    var imgSrc = "/user.jpg";
    if (Model != null)
    {
        if (Model.ImageSource != null)
        {
            var base64 = Convert.ToBase64String(Model.ImageSource);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
    }
}


<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title sc_panel_header">
                    <label class="nav navbar-left control-label sc_panel_label" align="left">Student Behaviour</label>
                    <div class="nav navbar-right">
                        <input type="button" value="Graphical View" name="Help" onclick="@("window.location.href='" + @Url.Action("ProfileDetails", "StudentBehaviour", new { studentId = Model.StudentID }) + "'");"
                               class="btn sc_help_btn btn-xs" />

                        <input type="button" value="Help" name="Help" onclick="@("window.location.href='" + @Url.Action("Index", "Video", new { id = 1}) + "'");"
                               class="btn sc_help_btn btn-xs"  />
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
    
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">

                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    Name </span>
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.StudentName" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>

                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    Roll No
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.RollNumber" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    Father Name </span>
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.FatherName" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    B.Form
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.BForm" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    Class
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.Class" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" align="left" for="first-name" style="font-size: 11px">
                                    Section </span>
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <input value="@Model.Section" class="form-control input-sm" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <img id="stdImage" src="@imgSrc" style="width:200px;height:200px;align-items:center" />

                                    </div>
                                    <!-- col ends here -->
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="container">
                                @using (Html.BeginForm("CreateOrUpdate", "StudentBehaviour", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="col-md-3 col-sm-3 col-xs-12" hidden="hidden">
                                        <div>
                                            @Html.TextBox("viewModel.StaffID", Model.StaffID, new { @class = "form-control input-sm" })
                                            @Html.TextBox("viewModel.StudentID", Model.StudentID, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                    for (var i = 0; i < Model.Categories.Count; i++)
                                    {
                                        collapseButtonsId++;
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:-10px;">

                                            <div class="x_panel" style="display:block;">
                                                <div class="">
                                                    <ul class="nav navbar-left panel_toolbox">
                                                        <li>
                                                            <a class="collapse-link" style="margin-top:-7px;"><i class="fa fa-chevron-up" id="clickUp_@collapseButtonsId"></i></a>
                                                        </li>

                                                        <li>
                                                            <label class="nav navbar-left control-label" align="left"> @Model.Categories[i].CategoryName </label>
                                                        </li>

                                                        <li style="margin-left:30px">
                                                            <p>@Model.Categories[i].CategoryDescription </p>
                                                        </li>

                                                    </ul>

                                                </div>
                                                <div class="x_content">
                                                    <div class="">
                                                        <ul class="to_do">

                                                            @for (var j = 0; j < Model.Categories[i].Parameters.Count; j++)
                                                            {
                                                                double maxValue = Model.Categories[i].Parameters[j].ParameterRating;
                                                                collapseButtonsId++;
                                                                <div class="col-md-3 col-sm-3 col-xs-12" hidden="hidden">
                                                                    <div>
                                                                        @Html.TextBox("viewModel.Categories[" + @i + "].Parameters[" + @j + "].ParameterID", Model.Categories[i].Parameters[j].ParameterID, new { @class = "form-control input-sm" })
                                                                        @Html.TextBox("viewModel.Categories[" + @i + "].Parameters[" + @j + "].ParameterRating", Model.Categories[i].Parameters[j].ParameterRating, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                </div>

                                                                <li style="display:block;">
                                                                    <div class="x_panel" style="display:block;">
                                                                        <div class="">
                                                                            <ul class="nav navbar-left panel_toolbox">
                                                                                <li>
                                                                                    <a class="collapse-link" style="margin-top:-7px;"><i class="fa fa-chevron-up" id="clickUp_@collapseButtonsId"></i></a>
                                                                                </li>

                                                                                <li>
                                                                                    <label class="nav navbar-left control-label" align="left"> @Model.Categories[i].Parameters[j].ParameterName </label>
                                                                                </li>
                                                                                <li style="margin-left:30px">
                                                                                    <p>@Model.Categories[i].Parameters[j].ParameterDescription</p>
                                                                                </li>

                                                                            </ul>

                                                                        </div>
                                                                        <div class="x_content">
                                                                            @for(int l = 0; l < Model.Categories[i].Parameters[j].BehaviourDetailsByStaff.Count; l++)
                                                                            {
                                                                                collapseButtonsId++;
                                                                            <div class="x_panel" style="display:block;">
                                                                                <div class="">
                                                                                    <ul class="nav navbar-left panel_toolbox">
                                                                                        <li>
                                                                                            <a class="collapse-link" style="margin-top:-7px;"><i class="fa fa-chevron-up" id="clickUp_@collapseButtonsId"></i></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <label class="nav navbar-left control-label" align="left">Evaluation By @Model.Categories[i].Parameters[j].BehaviourDetailsByStaff[l].StaffName </label>
                                                                                        </li>

                                                                                    </ul>

                                                                                </div>
                                                                                <div class="x_content">

                                                                                    <div class="form-group">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-striped jambo_table bulk_action">
                                                                                                <thead>
                                                                                                    <tr class="headings">
                                                                                                        <th>
                                                                                                            <label>Date</label>
                                                                                                        </th>
                                                                                                        <th>
                                                                                                            <label>Rating</label>
                                                                                                        </th>
                                                                                                        <th>
                                                                                                            <label>Comments</label>
                                                                                                        </th>

                                                                                                    </tr>

                                                                                                </thead>
                                                                                                <tbody style="background-color:white;color:#2A3F54" id="classBody">
                                                                                                    @for (int k = 0; k < Model.Categories[i].Parameters[j].BehaviourDetailsByStaff[l].BehaviourDetails.Count; k++)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                @Model.Categories[i].Parameters[j].BehaviourDetailsByStaff[l].BehaviourDetails[k].Date
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Model.Categories[i].Parameters[j].BehaviourDetailsByStaff[l].BehaviourDetails[k].StaffRating
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Model.Categories[i].Parameters[j].BehaviourDetailsByStaff[l].BehaviourDetails[k].StaffComment
                                                                                                            </td>

                                                                                                        </tr>
                                                                                                    }

                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            }
                                                                        </div>
                                                                    </div>

                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                    <label class="control-label" align="left" id="errorLabel" for="first-name" style="color:green; margin-left:10px;">

                                    </label>

                                    <input type="submit" id="CreateOrUpdate" value="Save" name="CreateOrUpdate" style="margin-right:10px;" class="btn btn-squar navbar-right" />

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function (e) {
        gotoCreate();
    }

    function gotoCreate() {
        var count = @collapseButtonsId;
        for (var i = 1; i <= count ; i++) {
            $('#clickUp_' + i).click();
        }
    }
</script>
